@import "tailwindcss";
@import "./catppuccin.css";
@plugin "./iconify-compat.mjs";

:root {
  /* @apply scroll-smooth; */
  color-scheme: light dark;
  text-autospace: normal;

  /* Only affacts the popup window */
  &:not(:has(#root)) {
    @apply grid place-items-center min-h-screen bg-black;
  }
}

@theme {
  --font-zh: "Noto Sans SC", "SEC CJK SC", "PingFang SC", ui-sans-serif,
    system-ui, sans-serif, emoji;
}

#root {
  @apply bg-cat-base text-cat-text;
  @apply grid min-h-screen grid-rows-[auto_1fr_auto] print:block;

  @apply font-serif;
}
